//- frontmatter
extends ./layouts/layout.jade
//- /frontmatter

block content
	h1 view test
	#app
		h2 string render
		| {{ message }}
	#app2
		h2 v-bind
		span(v-bind:title="message") hogehogehoge
	#app3
		h2 v-if show/hide 
			sup flag == {{show}} / {{hide}}
		p(v-if="show") {{show}}
		p(v-if="hide") {{hide}}
	#app4
		h2 array
		ol
			li(v-for="todo in todos")
				| {{todo.text}}
	#app5
		h2 user Event (v-on:click)
		p {{message}}
		button(v-on:click="reverseMessage") reverse message
	hr

	#app6
		h2 drag and drop (受け渡しはしない)
		ul(v-on="")
			li(v-for="image in images" draggable="true" v-on:dragstart="vDragstart" v-on:dragenter="vDragenter" v-on:dragover="vDragover" v-on:drop='vdrop' v-bind:data-image-id="image.id")
				h3 {{image.id}}
				//-
					input(type="hidden" v-bind:value="image.rank" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][rank]'" v-bind:id="'realtor_room_realtor_room_images_attributes_' + image.id + '_rank'")
					input(type="hidden" v-bind:value="image.type" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][image_type]'" v-bind:id="'realtor_room_realtor_room_images_attributes_' + image.id + '_image_type'")
					input(type="hidden" v-bind:value="image.image_id" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][id]'" v-bind:id="'realtor_room_realtor_room_images_attributes_' + image.id + '_id'")
					div.formElem
						div.imgUpload.cf.js-previewArea(data-realtor-rooms-edit="image")
							div.imgUpload-thumb
								div.imgUpload-dnd(data-realtor-rooms-edit="dnd")
									input(value="{}" v-bind:data-reference="image.reference" type="hidden" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][file]'")
									input.imgUpload-input(data-realtor-rooms-edit="input" v-bind:data-reference="image.reference" accept="image/jpeg,image/png" type="file" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][file]'" v-bind:id="'realtor_room_realtor_room_images_attributes_' + image.id + '_file'")
								div.imgUpload-img(data-realtor-rooms-edit="thumbnail")
									span.img
										img.attachment.realtor_room_image.file(v-bind:src="image.url" alt="Mm room img")
							div.imgUpload-inner
								div.imgUpload-delete
									label
										input(v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][_destroy]'" type="hidden" value="0")
										input(type="checkbox" value="1" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][_destroy]'" id="'realtor_room_realtor_room_images_attributes_' + image.id + '__destroy'")
										| 画像を削除
								p キャプション（30文字以内）
								input(placeholder="例）キッチンは人気のアイランドキッチン" maxlength="30" size="30" type="text" v-bind:value="image.caption" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][caption]'" v-bind:id="'realtor_room_realtor_room_images_attributes_' + image.id + '_caption'")
	#app7
		h2 vue.draggable.js
		draggable(v-model="images" @onUpdate="onUpdate")
			div(v-for="image in images")
				| {{image.id}}

	style.
		#sortable li{
			border: 1px solid #000;
			padding: 8px;
			padding-left:18px;
			list-style:none;
			background: #fff;
		}
		#sortable li:before{
			content: "::";
			font-size:18px;
			cursor: pointer;
		}
	#app8
		h2 jqueryui
		ul#sortable()
			li(v-for="image in images" v-bind:data-image-id="image.id")
				h3.v-image-id {{image.id}}
				input(type="hidden" v-bind:value="image.rank" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][rank]'" v-bind:id="'realtor_room_realtor_room_images_attributes_' + image.id + '_rank'" class="v-image-rank")
				input(type="hidden" v-bind:value="image.type" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][image_type]'" v-bind:id="'realtor_room_realtor_room_images_attributes_' + image.id + '_image_type'")
				input(type="hidden" v-bind:value="image.image_id" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][id]'" v-bind:id="'realtor_room_realtor_room_images_attributes_' + image.id + '_id'")
				div.formElem
					div.imgUpload.cf.js-previewArea(data-realtor-rooms-edit="image")
						div.imgUpload-thumb
							div.imgUpload-dnd(data-realtor-rooms-edit="dnd")
								input(value="{}" v-bind:data-reference="image.reference" type="hidden" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][file]'")
								input.imgUpload-input(data-realtor-rooms-edit="input" v-bind:data-reference="image.reference" accept="image/jpeg,image/png" type="file" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][file]'" v-bind:id="'realtor_room_realtor_room_images_attributes_' + image.id + '_file'")
							div.imgUpload-img(data-realtor-rooms-edit="thumbnail")
								span.img
									img.attachment.realtor_room_image.file(v-bind:src="image.url" alt="Mm room img")
						div.imgUpload-inner
							div.imgUpload-delete
								label
									input(v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][_destroy]'" type="hidden" value="0")
									input(type="checkbox" value="1" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][_destroy]'" id="'realtor_room_realtor_room_images_attributes_' + image.id + '__destroy'")
									| 画像を削除
							p キャプション（30文字以内）
							input(placeholder="例）キッチンは人気のアイランドキッチン" maxlength="30" size="30" type="text" v-bind:value="image.caption" v-bind:name="'realtor_room[realtor_room_images_attributes][' + image.id + '][caption]'" v-bind:id="'realtor_room_realtor_room_images_attributes_' + image.id + '_caption'")
